{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main %}
	<!-- Icon -->
	<div class="fadeIn first">
		<img src="{{ url_for('static', filename='images/logo.png') }}" id="icon" class="img-fluid" width="600" alt="User Icon" />
	</div>

	<!-- Login Form -->
	<form name="form-login" action="{{ url_for('login') }}" method="POST">
		<h2 class="d-block">Login</h2>
		<input type="text" id="login" class="fadeIn second" name="email" placeholder="login">
		<input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
		<input type="submit" class="fadeIn fourth btn-lg" value="Log In">
		<a class="btn btn-light btn-lg" href="{{ url_for('signup') }}" target="_self">Cadastrar</a>
	</form>
{% endblock %}