{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block head %}
{{ super() }}
<script type="application/javascript" src="{{ url_for('static', filename='js/player.js') }}"></script>
{% endblock %}

{% block main %}
    <form name="form-login" action="{{ url_for('login') }}" method="POST">
        <input type="email" name="email">
        <input type="password" name="password">
        <input type="submit" name="submit" value="Entrar" />
    </form>
    <div style="margin-bottom: 300px;"></div>
    <input type="button" value="Prev" id="prev" />
    <input type="button" value="Play" id="play" />
    <input type="button" value="Pausa" id="pause" style="display:none"/>
    <input type="button" value="Next" id="next" />

    <input type="button" value="Randomize" id="rand" />
    <input type="button" value="Clear" id="clear" />
    

    <script>
        $('#play').click( function(){
            $.ajax({
                url: '/play',
                method: 'POST'
            });
            $(this).css('display', 'none');
            $('#pause').removeAttr('style');
        });

        $('#pause').click( function(){
            $.ajax({
                url: '/pause',
                method: 'POST'
            });
            $(this).val('Play');
        });

        $('#next').click( function(){
            $.ajax({
                url: '/next',
                method: 'POST'
            });
        });

        $('#prev').click( function(){
            $.ajax({
                url: '/prev',
                method: 'POST'
            });
        });
        $('#rand').click( function(){
            $.ajax({
                url: '/rand',
                method: 'POST'
            });
        });
        $('#clear').click( function(){
            $.ajax({
                url: '/clear',
                method: 'POST'
            });
        });
        
    </script>
{% endblock %}